service cloud.firestore {
  match /databases/{database}/documents {
    // Mensajes:
    // - Cualquiera puede leer.
    // - Los usuarios autentificados pueden añadir y editar mensajes.
    // - Validación: Comprobar que el nombre es el mismo que el auth token y que la longitud del texto es inferior a 300 caracteres o que imageUrl es una URL.
    // - Los borrados no están permitidos.
    match /messages/{messageId} {
      allow read;
      allow create, update: if request.auth != null
                    && request.resource.data.name == request.auth.token.name
                    && (request.resource.data.text is string
                      && request.resource.data.text.size() <= 300
                      || request.resource.data.imageUrl is string
                      && request.resource.data.imageUrl.matches('https?://.*'));
      allow delete: if false;
    }
    // Fichas FCM:
    // - Cualquiera puede escribir su token.
    // - La lectura de la lista de tokens no está permitida.
    match /fcmTokens/{token} {
      allow read: if false;
      allow write;
    }
  }
}
